/emittance/__pycache__/
.settings/
.project
.pydevproject
/EmittanceSignals.pyproj
/EmittanceSignals.sln
.vs/
/bin/
/.classpath
__init__.py
dist/*
build/*
*.ini
*.json
*.spec
*.dat
*.dir
*.pyc
*.log
*.bak
.idea/