/emittance/__pycache__/
.settings/
.project
.pydevproject
/EmittanceSignals.pyproj
/EmittanceSignals.sln
*.pyc
.vs/
*.ini
*.json
/Emittance.dat.bak
/Emittance.dat.dat
/Emittance.dat.dir
/Emittance.log
/bin/
/.classpath
